//.content-slider.scss

.content-slider-wrap {
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    
    @media (min-width: $xl) {
        margin-bottom: 0;
    }
    //display: flex;  
    
    /*&:hover, &:focus-within {
        .content-slider__next, .content-slider__prev {
            @include opacity(1);
        }
    }*/
    
}


.content-slider {    
    touch-action: auto;    
    

    .owl-stage{
        display: flex;
    }


    .owl-item {
        touch-action: auto;
        //height: 100%;
    }
}


.content-slider__slide {
    background-color: $tangrey;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 25px;
    position: relative;

    .active &:hover {
        .content-slider__slide__img img {
            transform: scale(1.03);
        }
    }

    @media (min-width: $md) {
        margin: 0;
    }
}

.content-slider__slide__link {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 50px;

    [data-whatinput="keyboard"] &:focus {
        outline: 4px solid $red !important;
        outline-offset: -4px;
    }
}

.content-slider__slide__img {
    width: 100%;
    height: 100%;
    
    height: 450px;
    overflow: hidden;
    
    img {
        @include transition(all $speed7 $ease);
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
        max-height: 800px;
    }
    
    @media (min-width: $md) {
        height: 400px;
        
    }
    
    @media (min-width: $lg) {
        height: 550px;
    }
}

.content-slider__slide__content {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 30px;
    position: relative;


    &::before {
        content: '';
        background-color: $blue;
        position: absolute;
        left: 30px;
        right: 30px;
        height: 1px;

    }

    @media (min-width: $md) {
        padding: 50px 30px;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
         gap:30px;
    }
}

.content-slider__slide__content__col {
    
    padding-top: 20px;

    @media (min-width: $lg) {
        flex-basis: 45%;

    }
}



.content-slider__next, .content-slider__prev {
    position: absolute;
    border: none;
    z-index: 2;
    top: 380px;
    bottom: auto;
    left: auto;
    right: auto;    
    margin-top: auto;
    margin-bottom: auto;

    border: none;
    width: 85px;
    height: 50px;
    
    @include transition(all $medspeed $ease);
    text-align: center;
    background-color:$bluedarkmed;

    @media (min-width: $md) {
        top: -20%;
        bottom: 0;
    }
    
    &:before {
        content:'\e92f';
        display:block;
        position: absolute;
        left: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        
        padding:0px;			
        @include transition(all $medspeed $ease);			
        @include webfonts($lineheight:50px);
        color:#FFF;
        
        width:50px;
        height: 50px;
        font-size: 20px;
    }
    
    &:hover, &:focus {
        background-color: $blue;
        @include transition(all $medspeed $ease);	
    }

}



.content-slider__next {    
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    right:-20px;
    
    

    &:before {
        content:'\e92c';
    } 

    @media (min-width: $md) {
        right: -10px;

        &:hover {
            right: 0px;
        }
    }
    
    
}

.content-slider__prev {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: -20px;
    
    
    &:before {
        left:auto;
        right: 0;
    }

    @media (min-width: $md) {
        left: -10px;

        &:hover {
            left: 0px;
        }
    }
}