/* events-list.scss */

.event-alert {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	background: #d9edf7;
	border-radius: 4px;
	border: 1px solid #bce8f1;
	color: #0b3252;
	margin: 0px 0 24px;
	padding: 8px 35px 8px 14px;	
}
