/* quote-slider.scss */

.quote-slider-wrap {
	padding-bottom: 50px;
	
	blockquote {
		border: 0;
		background-color: transparent;
		color: $blue;
		text-align: center;
		position: relative;
		padding: 0 40px;
		margin: 0;
		
		
		&:before {
			font-size: 100px;
			line-height: 80px;
			left: -10px;
			top: -10px;
			color: $green;
			@include headline();
			position: absolute;
			content: "\201C";
			display: block;
		}
	}
	
	cite {
		text-align: center;
		margin: 0 auto;
		padding-left: 40px;
		padding-right: 40px;
		display: block;
		font-style: normal;
		
		p {
			margin: 0;
			font-weight: 700;
			font-size: 17px;
			line-height: 24px;
		}
		
		.company-name {
		  display: block;
		  font-weight: 400;
		}
	}
	
	
	.carousel-control-prev, .carousel-control-next {
		color: $green;
		width: 40px;
		
		@media (min-width: $sm) {
			color: #FFF;
			width: 15%;
		}
	}

	.carousel-indicators {
		margin: 0;
		position: relative;
		top: 30px;
	}
	
	
	
}

.quote-wrap {
	background-color: #FFF;
	max-width: $md;
	margin: 0 auto;
	padding: 50px;
	
	@media (min-width: $sm) {
		max-width: $sm;
	}
	
	@media (min-width: $xl) {
		max-width: $md;
	}
}