/* sigconnect-agenda.scss */
.sigconnect-agenda-wrap {
	position: relative;
	overflow: visible;
	//border: 1px solid #DDD;


	 .agenda-day {
		color: $green;

		font-weight: 600;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 5px;
	}

	.agenda-title {
		color: $green;
		
		margin: 40px 0 20px 0;
		font-weight: 600;
	}

	hr {
		margin: 20px auto 50px auto;
		width: 100px;
		background-color: $blue;
		height: 5px;
		display: block;
		max-width: 100px;
		border: none;
	
	}

	
	
	.tab-content {
		padding: 0 30px 30px 30px;
		border: 1px solid #DDD;
		/*border-top: 1px solid #FFF;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-bottom: 1px solid #DDD;*/
	}
	
	
	
}
.session-wrap {
	display: flex;
	flex-direction: column;
	//margin-bottom: 30px;
	//background-color: rgba($greylight,0.30);
	background-color: lighten($powderlight, 5%);
	
	
	width: 100%;
	margin-bottom: 5px;
	
	.time-col {
		font-size: 20px;
		line-height: 28px;
		font-weight: 700;
		padding: 25px 20px;
		
		background-color: $powderlight;

	}
	
	.info-col {
		padding: 20px;
	}
	
	
	p.session-code {
		margin: 0;
		font-weight: 700;
		color: rgba($slate, 0.5);
		font-size: 18px;
		line-height: 28px;
	}
	
	
	
	
	
	
	
	ul {
		margin-top: 3px;
		margin-bottom: 0;
		list-style: none;
		padding: 0;
		
		
		li {
			margin-bottom: 2px;
			font-size: 16px;
			line-height: 20px;
			font-style: italic;
		}
	}
	
	@media (min-width:$md){
		
		flex-direction: row;
		
		
  		.time-col {
			//width: 210px;
			width: 130px;
			min-width: 130px;
			text-align: center;
		}
	}
}

/*ul.agenda-tabs {
	
	position: -webkit-sticky;
  	position: sticky;
	top: 112px;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: $blue;	
	
	& li {
		margin: 0;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase;
		
		
		a {
			color: #fff;
			padding: 15px;
			
			&:hover, &:focus, &:active, &.active {
				@include transition(all $medspeed ease);
				background: $green;
				color: #fff;
				text-align: center;
			}
		}
	
		
	}
	
	@media (min-width:$md) {
		
		
		
	}
	
	@media (min-width:$lg) {
		top: 112px;
		
	}


}*/

.agenda-nav-wrap {
	//background-color: $powderlight;
	background-color: #FFF;
	//background-color: $blue;
	position: relative;
	
	padding: 0;
	margin-bottom: 20px;
	margin-left: -5px;
	margin-right: -5px;
	//border: 1px solid #DDD;
	//border-bottom: none;
	//box-shadow: 0px 2px 5px rgba(#000, 0.1);

	@media (min-width:$md) {
		position: sticky;
		top: 70px;
		z-index: 20;
		
	}
	
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		align-items: center;
		justify-content: center;
		//gap:10px;
		
		
		list-style: none;
		margin: 0;
		padding: 0;
		//padding: 10px 5px;
		
		
		
		font-size: 14px;
		line-height: 15px;
		
		@include sans($weight:700);
		
		li {
			//padding:10px 10px 5px 10px;
			margin: 0;
			padding: 0;
			//padding: 5px;
			flex-grow: 1;
			
			/*&.break {
				flex-basis: 100%;
  				height: 0;
			}*/
			
			&.agenda-date {
				width: 50%;
				
				a {
					background-color: $bluedark;
					
					&.active, &:hover {
						background-color: $green;
					}
				}
				
				
				@media (min-width:$md) {
					width: 25%;
					
				}
			}
			
			
		}
		
		a {
			
			color:#FFF;
			text-transform: uppercase;
			position: relative;
			text-decoration: none !important;
			outline: none;
			@include transition(color $speed6 $ease);
			letter-spacing: 0.4px;
			//padding: 24px 15px;
			display: block;
			@include transition(all $speed6 $ease);
			background-color: $blue;
			padding: 15px;
			font-size: 15px;
			text-align: center;
			margin: 5px;
			
			/*span {
				position: relative;
				display: block;
			}
			span::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -8px;
				height: 4px;
				background-color: $powder;
				@include transition(all $speed3 $ease);
				transform-origin: left top;
				@include transform(scaleX(0));
			}*/
			
			
			&.active, &:hover {
				//background-color: rgba(#FFF, 0.95);
				outline: none;
				text-decoration: none;
				//color: $green;
				color:#FFF;
				background-color: $green;
				@include transition(all $speed6 $ease);				
			}
			
			&.active {
				//background-color: #FFF;
				//color: $green;
				color:#FFF;
				background-color: $green;
				/*span:before {
					@include transform(scaleX(1));
					@include transition(all $speed3 $ease);
				}*/
			}
			
			
		}
	}
	@media (min-width:$sm) {
		
		
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			
			
			/*font-size: 15px;
			line-height: 16px;*/
			
			
		}
	}
	
	@media (min-width:$lg) {
		top: 82px;
		
		/*ul {
			
			font-size: 18px;
			line-height: 19px;
			
			a {
				padding: 24px 30px;
			}
			
		}*/
		
		
	}

}