/* stats.scss */

.stat-wrap {
	
	.csstransitions & {
		@include opacity(0);@include transition(opacity $speed2 $ease);
		
		&.animating {
			@include opacity(1);@include transition(opacity $speed2 $ease);
		}
	}
	text-align: center;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;

	
	
	h3.stat-number {
		@include headline($weight:700);
		
		display: block;
		margin-bottom: 0;		
		position: relative;		
		display: table;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0 !important;
		
		font-size:60px;
		line-height:66px;
		
		&.smaller {
			font-size:50px;
			line-height:56px;
		}
		
		@media (min-width: $md) {
			font-size:70px;
			line-height:76px;
			
			&.smaller {
				font-size:50px;
				line-height:56px;
			}
			
		}
		
		@media (min-width:$lg) {
			font-size:80px;
			line-height:86px;

			&.smaller {
				font-size:60px;
				line-height:66px;
			}
		}
		
		
	}

	
	
	
	
	
	
	
}