/* blog.scss */


h1.archive-title {
    color: $primary;
    span {
        color: $text
    }
}
//SINGLE POST
.single-post, .single-case-study, .single-webinar, .single-events {
    background-color: $tanlightest;

    .site-content {
        padding-bottom: 0;
    }
	
	article {
        
        h2, h3, h4, h5 {
            margin-bottom: 24px;
        }
	}
    
    
	
	
}

.insights-single__header-wrap {
    //background-color: $alphawhite;
   // background-color: $body-bg;
   background-color: $bluedark;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba($bluedark, 0.2);
    /* .no-featured-img & {
        border-bottom: 1px solid rgba($bluedark, 0.2);
        
    } */
}

.hero.insights-hero {
    position: relative;
    background-color:$bluedark;
    z-index: 0;

    

    @media (min-width: $md) {
        padding: 60px 30px;

        &.has-featured-img {
            padding-bottom: 120px;
            margin-bottom: 0;
        }
    }
}

.insights-single__header__title {
    color: #FFF;
    max-width: 1200px;
}

.insights-single__header__date {
    color: $bluelight;
}

.insights-single__featured-img {
    position: relative;
    z-index: 1;
    border-radius:$borderradius;
    margin-bottom: 50px;
    
    overflow: hidden; 

    
    width: 100%;
    height: 400px;
    
    img {
        
        width: 100%;
        object-fit: cover;
        height: 100%;;

    }

     @media (min-width: $md) {
        margin-bottom: 60px;
        margin-top: -100px;
         height: 500px;
     }

     @media (min-width: $lg) {
        height: 600px;
     }
    

     /* @media (min-width:1600px) {
        margin-left: -80px;
        margin-right: -80px;
     } */
    
}

////CONTENT
.insights-single__content-wrap {
    //max-width: 1200px;
    
    a {
        text-decoration: underline;
        text-decoration-thickness: .15rem;
        text-underline-offset: .25rem;
        text-decoration-color: rgba($bluelight, 0.5);
    }
    
    .lazy-video {
            margin: 40px 0;
    }

     @media (min-width: $md) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap:50px;
        
    }
}




.insights-single__content {
    width: 100%;
    padding-bottom: 40px;
    @media (min-width: $md) {
        flex-grow: 1;
    }

    a {
        text-decoration-color: $blue;
    }
    a.break-link {
        
        word-break: break-all;
    }

    .wp-block-post-featured-image {
        margin-top:40px;
        margin-bottom: 40px;
        border-radius: $borderradius;
        overflow: hidden;
    }
}

/* .in-content-breadcrumb-link {
    a {
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-thickness: .15rem;
        text-underline-offset: .25rem;
        text-decoration-color: $blue;
        color:$bluedarkmed;

        &:visited {
            color:$bluemed;
        }

        &:hover {
            color: $bluedark;
        }
    }
} */
///////////SIDEBAR

.insights-single__sidebar {
    width: 100%;
    

    @media (min-width: $md) {
        flex-basis: 300px;
        min-width: 300px;
        margin-top: 10px;
    }
}
.insights-single__sidebar__sticky {
    
    padding: 30px;
    //background-color: rgba(#FFF,0.6);
    //background-color: $bluelightest;
    background-color:#FFF;
    border-radius: $borderradius;
    border: 1px solid rgba($bluedark, 0.2);
    
    @media (min-width: $md) {
        position: sticky;
        top: 120px;
        
    }
}

ul.insights-single__sidebar__links {
    li {
        margin-bottom: 20px;
    }

    a {
        color: $text;
        text-decoration-color: $text;
        display: block;

        &:hover {
            text-decoration-color: $bluelightmed;
        }
    }
}
.blog-related-link__cpt {
    display: block;
    color: $bluelightmed;
    font-size: 1rem;
    margin-top: 4px;
}




///////////FOOTER

.tagcloud {
	@include sans();
    letter-spacing: 1px;
	
	a {
		color: $text;
        @include transition(color $medspeed $ease);
		 line-height: 1em;
		
		&:hover {
			color: $primary;
            @include transition(color $medspeed $ease);
		}
	}
	
}


.insights-single__footer {
    border-bottom: rgba($bluedark, 0.5) 1px solid;
    border-top: rgba($bluedark, 0.5) 1px solid;
    
	padding: 40px 0px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    
    gap:30px;
    width: 100%;
    
    
    @media (min-width: $sm) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

ul.insights-single__footer__cat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap:20px;

    li {
        max-width: 0;
    }

    a {
        color: $bluedarkmed;
        text-decoration: underline;
        text-decoration-thickness: .15rem;
        text-underline-offset: .25rem;
        text-decoration-color: $bluelight;
    }
}

.authors-wrap {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.blog-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.blog-author__img {
    flex-basis: 70px;
    max-width:70px;
    
    a {
        display: block;
        width: 70px;
        height: 70px;
         overflow: hidden;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

p.blog-author__name {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    top: -3px;
    
}

////////////////RELATED

.insights-single__related-articles {
    //background-color: $alphawhite;
    border-top: 1px solid rgba($bluedark, 0.2);
    background-color: #FFF;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-width: $md) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
}

.related-articles__inner{
    padding-left: 30px;
    padding-right: 30px;
}



