/*_variables.scss */

/*$fontsize:0.85rem;
$lineheight:1.3rem;*/

$base-font: 'Space Grotesk', sans-serif;
$base-font-weight: 400;
$base-font-style: normal;

$max-width: 1400px;
$xxl: 1600px;
$xl: 1400px;
$lg: 1024px;
$md: 782px;
$sm: 576px; 
$xs: 400px;

$gutenbreak:782px;
$wide-break: 1300px;
$headerbreak: 1120px;
$sidepadding:25px;

$speed1: 0.1s;
$speed2: 0.2s;
$speed3: 0.3s;
$speed4: 0.4s;
$speed5: 0.5s;
$speed6: 0.6s;
$speed7: 0.7s;
$speed8: 0.8s;
$speed9: 0.9s;
$speed10: 1s;
$fastspeed: $speed2;
$medspeed: $speed3;
$longspeed: $speed10;
$mobilenavspeed: $speed3;
$ease: ease;

$black-100:#111;
$black-200:#222;
$black-300:#333;
$black-400:#444;
$black-500:#555;
$black-600:#666;
$black-700:#777;
$black-800:#888;
$black-900:#999;

$gutenborder:rgba(#000, 0.5);

$facebook:#3c5a99;
$twitter:#00aced;
$linkedin:#0077B5;
$vimeo:#1ab7ea;
$instagram:#c13584;

$grey-1:#F0F0F0;
$grey-2:#D3D6D9;
$grey-3:#B7BBBC;
$grey-4:#718085;
$grey-5:#141F28;

$grey:#828282;
$greydark:#231f20;






$blue:#003eff;

$bluemed:#0066fd;

$bluelight:#b7d3ff;
$bluelightmed:#66a2ff;

$bluedark:#001e5f;
$bluedarkmed: #021bc3;

$bluedarker:#00143f;

$bluepowder:#1dbdff;




//$bluemed:#003eff;
/*$bluegreyborder:#6a84a5;
$bluelightborder:#5484ce;
$bluemedborder:#0850b9;
$bluedarkborder:#0d217d;*/
//$teal:lighten(#20c997, 5%);
//$teal:#5defa3;


$green:#5defa3;

$orange:#f48069;

$tan:#f0ebd2;
$tanlight:#f2f0e2;
$tangrey:#e7e8e3;

$yellow:#f0ecd2;

$greylight:#f3f2ec;
$greylighter: rgba($greylight, 0.7);


$bluelightest:lighten($bluelight, 11%);
$alphawhite:rgba(#FFF,0.6);
$tanlightest:#fafaf8;


$body-bg:$greylight;

$text:$bluedark;
$primary:$blue;
$secondary:$green;

$roundedcorner:20px;

$error:#e22d09;


////FONT SIZES

$botmargin:1.2rem;

$lineheight:1.6;

$smfontlineheight:1.5;
$regfontlineheight:1.5;
$mdfontlineheight:1.5;
$lgfontlineheight:1.3;
$xlfontlineheight:1.2;

$smfontsm:1.1rem;
$smfontmd:1.16rem;
$smfontlg:1.2rem;

$regfontsm:1.16rem;
$regfontmd:1.28rem;
$regfontlg:1.38rem;

$mdfontsm:1.25rem;
$mdfontmd:1.3rem;
$mdfontlg:1.5rem;

$lgfontsm:1.3rem;
$lgfontmd:1.5rem;
$lgfontlg:1.9rem;

$xlfontsm:1.7rem;
$xlfontmd:2.1rem;
$xlfontlg:2.4rem;


/////////HEADLINES
$headsmfontlineheight:1.2;
$headregfontlineheight:1.2;
$headmdfontlineheight:1.2;
$headlgfontlineheight:1.1;
$headxlfontlineheight:1.1;

///HEADINGS
$h1fontsm:3.5rem;
$h1fontmd:4.2rem;
$h1fontlg:4.25rem;

$h2fontsm:2.25rem;
$h2fontmd:2.75rem;
$h2fontlg:3rem;

$h3fontsm:1.75rem;
$h3fontmd:2rem;
$h3fontlg:2.5rem;

$h4fontsm:1.5rem;
$h4fontmd:1.75rem;
$h4fontlg:2rem;

$h5fontsm:1.4rem;
$h5fontmd:1.5rem;
$h5fontlg:1.75rem;

$h6fontsm:1.3rem;
$h6fontmd:1.4rem;
$h6fontlg:1.5rem;

$h7fontsm:1.5rem;
$h7fontmd:1.3rem;
$h7fontlg:1.4rem;


//HEADLINE FONT SIZES
$headsmfontsm:$h5fontsm;
$headsmfontmd:$h5fontmd;
$headsmfontlg:$h5fontlg;

$headregfontsm:$h4fontsm;
$headregfontmd:$h4fontmd;
$headregfontlg:$h4fontlg;

$headmdfontsm:$h3fontsm;
$headmdfontmd:$h3fontmd;
$headmdfontlg:$h3fontlg;

$headlgfontsm:$h2fontsm;
$headlgfontmd:$h2fontmd;
$headlgfontlg:$h2fontlg;

$headxlfontsm:$h1fontsm;
$headxlfontmd:$h1fontmd;
$headxlfontlg:$h1fontlg;



///UI

$nav-color:#FFF;
$nav-active:$green;
$nav-dropdown-color: #FFF;
$nav-dropdown-active: $green;
$nav-dropdown-bg: $blue;
$nav-dropdown-arrow:#FFF;

$mobile-toggle:#FFF;
$mobile-toggle-lines:#FFF;
$mobile-toggle-bg:$primary;
$mobile-toggle-bg-active:transparent;

$mobile-nav-bg:$blue;
$mobile-nav-color:#FFF;
$mobile-nav-active:$bluelight;
$mobile-nav-dropdown-color: #FFF;
$mobile-nav-dropdown-active: $bluelight;
$mobile-nav-dropdown-bg:$bluedarkmed;
$mobile-nav-dropdown-arrow:#FFF;
$mobile-nav-dropdown-arrow-hover:$bluelight;

$utility-color:$text;
$utility-hover:$primary;
$utility-active:$primary;

$footer-color:#FFF;
$footer-bg:$blue;
$footer-link:#FFF;

$page-header-bg:$text;

$headline-color:$text;
$headline-link-color:$primary;
$headline-link-hover:$secondary;


$link-color:$blue;
$link-hover:$bluedark;


$widget-bg:#FFF;
$widget-color:$text;
$widget-link:$blue;
$widget-link-active:$primary;

$btn-bg:$blue;
$btn-bg-hover: $bluedark;
$btn-text: #FFF;

$hr-border:$grey-2;

$blockquote-border:$primary;
$blockquote-quote:$primary;
$blockquote-bg:$greylight;
$blockquote-text:$primary;
$blockquote-cite:$primary;

$loading-color:$blue;
$loading-bg:$body-bg;

$search-label:$text;
$search-btn-color:#FFF;
$search-btn-bg:$primary;
$search-btn-bg-hover:$bluedark;

$social-color:$text;
$social-hover:$primary;
$social-bg:$grey;
$social-bg-hover:$primary;

$blog-border:$text;
$blog-title:$primary;
$blog-title-link:$primary;
$blog-author:$primary;
$blog-comments-link:$primary;
$blog-category:$primary;
$blog-comments-link:$primary;
$blog-posted:$primary;
$blog-posted-link:$primary;
$blog-h1:$primary;
$blog-meta:$primary;
$blog-content:$text;
$blog-tags:$primary;
$blog-pagination:$primary;

$sitemap-title:$primary;
$sitemap-link:$primary;

$scrolltop-bg:$primary;
$scrolltop-color:#FFF;
$scrolltop-hover:$bluedark;

$magnific-bg:#000;
