// global-styles.scss

:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
body .is-layout-flex {
  display: flex;
}
.is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
.is-layout-flex > :is(*, div) {
  margin: 0;
}
body .is-layout-grid {
  display: grid;
}
.is-layout-grid > :is(*, div) {
  margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}

:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
:root :where(.wp-block-pullquote) {
  font-size: 1.5em;
  line-height: 1.6;
}

