/* search.scss */


///HEADER SEARCH

[data-whatinput="keyboard"] .masthead__search input.search-submit:focus {
    outline: 4px solid $red !important;
    outline-offset: -4px;
}
[data-whatinput="keyboard"] .masthead__search input[type="search"]:focus {
    outline: 4px solid $red !important;
    outline-offset: -4px !important;
}

.masthead__search {
	position: absolute;
	top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    
	height: 52px;
	width:auto;
	min-width: 45px;
	z-index: 3;	
	right: 60px;
	@include transition(all $speed2 ease-out);

    display: none;
    
    @media (min-width: $sm) {
        display: block;
        
    }
    @media (min-width: $lg) {
        right: 15px;
    }
    
	&.open {
		.search-form {
			label {
				width: 550px;
				@include opacity(1);
				@include transition(all $medspeed $ease);
			}
		}
        
        .submit-wrap:before {
            color:#FFF;
        }
	}
    
    &:hover, &:focus-within {
        .submit-wrap:before {
            color:$bluelight;
        }
        
    }
	
	
	.search-form {
		display: flex;
		align-content: center;
		height: 100%;
		
		label {
			width: 0;
			@include opacity(0);
			@include transition(all $medspeed $ease);
			position: relative;
			z-index: 0;
			overflow: hidden;
			margin: 0;
			display: inline-block;
		}

		input[type="search"] {
			font-size: 16px;
			line-height:24px;
			padding: 5px 15px;
			border: 0;
			position: relative;
			z-index: 1;
			color:$dark;
			width:100%;
			height:52px;
            border-radius: 25px;
            border:none;
			//background-color: $tanlight;
            
            &:focus-visible {
                outline:1px solid rgba($dark, 1);
                outline-offset: -1px;
            }

			@include input-placeholder {
				color:$dark;
				@include opacity(0.5);			
				font-size: 16px;
				line-height:24px;	
				text-align:left;
			}
	    }
	}
	
	
	
	
	
	
	.submit-wrap {
		position: relative;
		
		&:before {
			@include webfonts($lineheight:1);
			display: block;
			content:'\e90b';
			font-size: 25px;
            width: 25px;
            height: 25px;
			color: #FFF;
			position: absolute;
			left: 0;
			top: 0;
            right: 0;
            bottom: 0;
			margin: auto;
            @include transition(all $medspeed $ease);
		}
	}
	
	input.search-submit {
		border: 0;
		background-color: transparent;
		
		width: 45px;
		height: 52px;
		padding:10px;
		position: relative;		
		cursor: pointer;
		
		color: $dark;
		text-align: left;
		text-indent: -20000px;
		overflow: hidden;
		
		
		&:focus {
			outline:0;
		}

		
	}

}



