/* header_image.scss */

.header-bg-wrap {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: $max-width;
	z-index: 0;
	position: relative;
}