/* images.scss */
/*img {
	position: relative;
    z-index: 0;
	image-rendering: -webkit-optimize-contrast;
}

a img {
	@include opacity(1);
	@include transition(opacity $medspeed $ease);

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;


	&:hover {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;


		@include opacity(0.9);
		@include transition(opacity $medspeed $ease);
	}
}*/