/* sections.scss */

///INTRO HEADLINE
.is-style-intro-headline {
    @include sans($weight:600);
    max-width: 1000px;
    font-size: 1.8rem;
    line-height: 1.2;

    @media (min-width:$md) {
        font-size: 2rem;
    }

    @media (min-width:$lg) {
        font-size: 2.3rem;
    }
}

///UNDERLINE 
/* .is-style-underline-headline {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 10px;
        background-color:$bluelightmed;
        z-index: -1;
    }

    &.animate {
        &::after {
            transform: scaleX(0);
            transform-origin: left;
            @include transition(all $speed6 $ease);
            
        }

        &.in-view {
            &::after {
                transform: scaleX(1);
                transition-delay: 0.1s;
            }
        }

    }
} */

.is-style-underline-bold-headline {
    
    strong {
        font-weight: inherit;
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
            height: 10px;
            background-color:rgba($bluelightmed, 0.9);
            z-index: -1;
        }
    }

    &.animate {
        strong::after {
            transform: scaleX(0);
            transform-origin: left;
            @include transition(all $speed6 $ease);
            
        }

        &.in-view {
            strong::after {
                transform: scaleX(1);
                transition-delay: 0.1s;
            }
        }
        

    }

    &.has-small-font-size {
        strong:after {
            height: 5px;
            bottom: 4px;
        }
    }

    &.has-regular-font-size {
        strong:after {
            height: 6px;
            bottom: 6px;
        }
    }
    &.has-medium-font-size {
        strong:after {
            height: 7px;
            bottom: 7px;
        }
    }

    &.has-large-font-size {
        strong:after {
            height: 8px;
            bottom: 8px;
        }
    }
}

p.is-style-bold-highlight, ul.is-style-bold-highlight {

    strong {
        display: inline;
  
        /* Define the highlight color and initial size (0% width) */
        background-image: linear-gradient(120deg,$bluedarkmed 0%, $bluedarkmed 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: 0 0;
        padding: 5px 5px;
        color: $text;
    }

    &.has-white-color {
        strong {
            background-image: linear-gradient(120deg,$bluemed 0%, $bluemed 100%);
            color: #FFF;
        }
    }

    &.animate, .animate {
        strong {
            background-size: 0% 100%;
            @include transition(all $speed6 $ease);
            
        }

       &.in-view {
            strong {
                background-size: 100% 100%;
                transition-delay: 0.3s;
                color: #FFF;
            }
        }
    }
}


///NUMBER HEADLINE
body {
    counter-reset: section;
}
.is-style-number-headline {
    padding-left: 60px;
    position: relative;
    display: block;
    width: 100%;
    &::before {
        position:absolute;
        left: 0;
        top: 1px;
        @include outline();
        color: $bluemed;
        font-size: 2rem;
        counter-increment: section; 
        content: counter(section, decimal-leading-zero);
    }
}
//RHB LOGO LINK FADE {
.fade-logo-link {
    a {
        opacity: 0.3;
        @include transition(opacity $medspeed $ease);

        &:hover {
            opacity:1;
        }
    }

}
.headline-smaller-italics {
    em {
        font-style: normal;
        font-size: 94%;
    }
}

.blue-border-top {
    border-top: $blue 1px solid;
}
.blue-border-bot {
    border-bottom: $blue 1px solid;
}

.wp-block-group.partner-hover-logos {
    .wp-block-group__inner-container {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
        gap:40px;
        column-gap: 80px;
        align-items: center;

        @media (min-width:$sm) {
            justify-content: center;            
        }
        @media (min-width:$lg) {
            justify-content: space-between;
            flex-wrap: nowrap;        
        }

        
    }

    .wp-block-image {
        flex-basis: calc(50% - 40px);

        @media (min-width:$sm) {
            flex-basis: calc(33% - 55px);
        }
        @media (min-width:$lg) {
            flex-basis: auto;
        }
    }

    &.greyscale-logos {
        img {
            filter: grayscale(100%);
            @include transition(all $medspeed $ease);

            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}
.wp-block-group.side-margins {
    margin-left: 30px;
    margin-right: 30px;
    
     @media (min-width:$md) {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    
}
.wp-block-group.is-style-padded-box {
    .wp-block-group__inner-container {
        padding: 50px;
        
        @media (min-width:$md) {
            padding: 70px;
        }
        
    }
}

.wp-block-group.is-style-extra-padded-box {
    
    .wp-block-group__inner-container {
        padding: 50px;
        
        @media (min-width:$md) {
            padding: 100px;
        }

    }
}
////////////NUMBER LIST
ul.is-style-outline-number, ol.is-style-outline-number {
    @include serif();
    list-style: none; 
    counter-reset: outline-counter;

    li {

        counter-increment:outline-counter;
        position: relative;
        margin-bottom: 30px;

        font-size: 2.2rem;
        padding-left: 100px;

        &::before {
            @include outline();
            content: counter(outline-counter, decimal-leading-zero);
            color: $bluepowder;
            position: absolute;
            left: 0;
            top: 7px;
            font-size:50px;
            line-height: 40px;
        }

        
    }

    &.has-white-color {
        color: #FFF;

        a {
            color: #FFF;

            &:visited {
                color: #FFF;
            }
        }
    }
}

ul.is-style-circle-icons-list {
    list-style: none; 
    padding-left: 0;

    li {
        position: relative;
        padding-left:70px;
        margin-bottom: 35px;

        &::before, &:after {
            content: '';
            position: absolute;
            border:5px solid $bluepowder;
            border-radius: 100%;
        }

        &::before {            
            left: 0;
            top: 7px;
            width: 50px;
            height: 50px;            
        }

        &::after {
            left: 12.5px;
            top: 19px;
            width: 25px;
            height: 25px;
        }

        
    }

    &.has-white-color {
        li::before, li:after {
            border-color: $bluelight;
        }
    }
}

.wp-block-group.is-style-circle-icon-left {
    padding-left: 70px;
    position: relative;
    padding-right: 0;

    &::before, &:after {
        content: '';
        position: absolute;
        border:5px solid $bluepowder;
        border-radius: 100%;
    }

    &::before {            
        left: 0;
        top: 7px;
        width: 50px;
        height: 50px;            
    }

    &::after {
        left: 12.5px;
        top: 19px;
        width: 25px;
        height: 25px;
    }

    &.has-white-color {
        &:before, &:after {
            border-color: $bluelight;
        }
    }
}

.wp-block-group.is-style-check-icon-left {
    padding-left: 70px;
    position: relative;
    padding-right: 0;

    &::before, &:after {
        position: absolute;
        color: $green;
        content:'\e920';
        top: 6px;
		left: 0px;
        @include webfonts($lineheight:1);
        font-size: 30px;
    }

}


.is-style-arrow-link {
    a {
        display: table;
        position: relative;
        
        &:after {
            margin-left: 30px;
            top: -15px;
            position: relative;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            @include transition(all $medspeed $ease);
            background-color: rgba($bluedark, 0.2);
            
            text-align: center;
            content: '\e92c';
            @include webfonts($lineheight:50px);
            border: 10px solid $blue;
            border-radius: 100%;
            color: #FFF;
            width: 60px;
            height: 60px;
            font-size: 22px;
        }        
        &:hover {
            &:after {
                margin-left: 35px;
                background-color: $blue;                
            }
        }
    }
}

.is-style-small-arrow-link {
    a {
        display: table;
        position: relative;
        padding-right: 15px;
        
        &:after {
            left: 5px;
            top:0px;
            position: relative;
            display: inline;
            flex-direction: column;
            justify-content: center;
            @include transition(all $medspeed $ease);
            text-align: center;
            content: '\e92c';
            @include webfonts($lineheight:1);
            color: inherit;
            font-size: 80%;
        }
        
        &:hover {
            &:after {
                left: 10px;                
            }
        }
    }
}
.arrow-icon {
    display: table;
    position: relative;
    padding-right: 20px;
    &:after {
        left: 5px;
        top:0px;
        position: relative;
        display: inline;
        flex-direction: column;
        justify-content: center;
        @include transition(all $medspeed $ease);            
        text-align: center;
        content: '\e92c';
        @include webfonts($lineheight:1);
        color: #FFF;
        font-size: 75%;
    }

    &:hover {
        &:after {
            left: 15px;                
        }
    }
}

.wp-block-cover.is-style-dark-blue-to-light-grey-bg, .wp-block-cover.is-style-dark-blue-to-light-grey-bg-tall{
    background-color: $greylight;
    position: relative;
    
    > div {
        position: relative;
        z-index: 1;
    }
    
    
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, $bluedark 25%, rgba($bluedark,0.5) 50%, rgba($bluedark,0) 100%);
        height: 800px;
        z-index: 0;
    }
    
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 10% -300px,$blue 0, rgba($blue, 0) 50%);
        height: 1000px;
        z-index: 0;
    }
}

.wp-block-cover.is-style-dark-blue-to-light-grey-bg-tall {
      
    &:before {
        background: linear-gradient(180deg, $bluedark 25%, rgba($bluedark,0.5) 50%, rgba($bluedark,0) 100%);
        height: 1100px;

    }
    
    &:after {
        background: radial-gradient(circle at 10% -100px,$blue 0, rgba($blue, 0) 50%);
        height: 1500px;
    }
}

.wp-block-cover.is-style-light-blue-to-light-grey-circles-bg {
    background-color: $greylight;
    position: relative;
    
    > div {
        position: relative;
        z-index: 1;
    }
    
    
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, $bluelight 25%, rgba($bluelight,0.5) 50%, rgba($bluelight,0) 100%);
        height: 800px;
        z-index: 0;
    }
    
    &:after {
        position: absolute;
        content: '';
        width: 78vw;
        top: -15vw;
        left: -10vw;
        right: 0;
        background-image: url(assets/img/three-circles-light.svg);
        background-repeat: no-repeat;
        background-size:cover;
        height: 30vw;
        z-index: 0;
        opacity: 0.2;
    }
}

.wp-block-cover.is-style-blue-circles-bg {
    background-color:$blue;
    position: relative;
    
    > div {
        position: relative;
        z-index: 2;
    }
    

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 10% -300px,$blue 0, rgba($blue, 0) 50%);
        height: 1000px;
        z-index: 1;
    }
    
    
    &:after {
        position: absolute;
        content: '';
        width: 78vw;
        top:auto;
        left:0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        background-image: url(assets/img/three-circles-light.svg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height: 30vw;
        z-index: 0;
        opacity: 0.15;
    }
}

.wp-block-cover.is-style-blue-circles-bot-bg {
    background-color:$blue;
    position: relative;
    
    > div {
        position: relative;
        z-index: 2;
    }
    

     &:before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, $bluedark 10%, rgba($bluedark,0.5) 50%, rgba($bluedark,0) 100%);
        height: 800px;
        z-index: 0;

    }
    
    
    &:after {
        position: absolute;
        content: '';
        width: 78vw;
        top:auto;
        bottom: -70px;
        left:0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        background-image: url(assets/img/three-circles-light.svg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height: 30vw;
        z-index: 0;
        opacity: 0.1;
    }
}


.wp-block-cover.is-style-light-blue-to-yellow-to-light-grey-bg {
    background-color: $greylight;
    position: relative;
    
    > div {
        position: relative;
        z-index: 2;
    }
    

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, $yellow 25%, rgba($yellow,0.5) 50%, rgba($yellow,0) 100%);
        height: 800px;
        z-index: 0;
    }
    
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 10% -300px,$bluelight 0, rgba($bluelight, 0) 50%);
        height: 1000px;
        z-index: 0;
    }
}

.content-type-title {
    text-transform: uppercase;
    @include sans($weight:600);
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: 0.1rem;
}

p.is-style-bold-highlight, ul.is-style-bold-highlight {

    strong {
        display: inline;
  
        /* Define the highlight color and initial size (0% width) */
        background-image: linear-gradient(120deg,$bluedarkmed 0%, $bluedarkmed 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: 0 0;
        padding: 5px 5px;
        color: $text;
    }

    &.has-white-color {
        strong {
            background-image: linear-gradient(120deg,$bluemed 0%, $bluemed 100%);
            color: #FFF;
        }
    }

    &.animate, .animate {
        strong {
            background-size: 0% 100%;
            @include transition(all $speed6 $ease);
            
        }

       &.in-view {
            strong {
                background-size: 100% 100%;
                transition-delay: 0.3s;
                color: #FFF;
            }
        }
    }
}


.wp-block-columns.white-border-columns {

    @media (min-width:$lg) {
        justify-content: space-between;     
    }


    .wp-block-column {
        padding-left: 30px;
        border-left: 1px solid rgba(#FFF, 0.5);

        @media (min-width:$md) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

}



