/* headings.scss */

h1, h2, h3, h4, h5, h6, h7 {
    @include serif($weight:400);
    margin-bottom: 0.5rem;
    
    
    em {
        //@include serif($weight:400, $style:'italic');
        letter-spacing: -0.1rem;
    }

    line-height:$headregfontlineheight;
    
    &.has-small-font-size {
		font-size:$headsmfontsm;
        line-height:$headsmfontlineheight;
        
        @media (min-width:$md) {
            font-size:$headsmfontmd;
        }
        
        @media (min-width:$lg) {
            font-size:$headsmfontlg;
        }
    }
    
    &.has-regular-font-size {
        font-size: $headregfontsm;
        line-height:$headregfontlineheight;

        @media (min-width:$md) {
            font-size: $headregfontmd;      
        }

        @media (min-width:$lg) {
            font-size: $headregfontlg;
        }
    }
    
    &.has-medium-font-size {
        font-size: $headmdfontsm;
        line-height:$headmdfontlineheight;

        @media (min-width:$md) {
            font-size: $headmdfontmd;      
        }

        @media (min-width:$lg) {
            font-size: $headmdfontlg;
        }
    }
    
    &.has-large-font-size {
        font-size: $headlgfontsm;
        line-height:$headlgfontlineheight;

        @media (min-width:$md) {
            font-size: $headlgfontmd;       
        }

        @media (min-width:$lg) {
            font-size: $headlgfontlg;
        }
    }
    
    &.has-x-large-font-size {
        font-size:$headxlfontsm;
        line-height:$headxlfontlineheight;
        
        @media (min-width:$md) {
            font-size:$headxlfontmd;
        }
        
        @media (min-width:$lg) {
            font-size: $headxlfontlg;
        }
    }
}

h1 {
	font-size:$h1fontsm;
    line-height:$headxlfontlineheight;

    @media (min-width:$md) {
        font-size:$h1fontmd;
    }
	
	@media (min-width:$lg) {
		font-size: $h1fontlg;
	}

    /* &.has-long-title {
        font-size:$h1fontsm;
    }

    &.has-longer-title {
        font-size: $h2fontlg;
    } */
}

h2 {    
	font-size: $h2fontsm;
    line-height:$headlgfontlineheight;
    
	@media (min-width:$md) {
        font-size: $h2fontmd;
    }
	
	@media (min-width:$lg) {
        font-size: $h2fontlg;
    }
}


h3 {
	font-size:$h3fontsm;
    line-height:$headmdfontlineheight;

	@media (min-width:$md) {
        font-size:$h3fontmd;     
    }
	
	@media (min-width:$lg) {
        font-size: $h3fontlg;
    }
}

h4 {
	font-size: $h4fontsm;
    line-height:$headregfontlineheight;
    
	@media (min-width:$md) {
        font-size: $h4fontmd;
    }
	
	@media (min-width:$lg) {
        font-size: $h4fontlg;
    }
}

h5 {
	font-size:$h5fontsm;
    line-height:$headsmfontlineheight;

	@media (min-width:$md) {
        font-size:$h5fontmd;     
    }
	
	@media (min-width:$lg) {
        font-size: $h5fontlg;
    }
}

h6 {
	font-size:$h6fontsm;
    line-height:$headsmfontlineheight;

	@media (min-width:$md) {
        font-size:$h6fontmd;     
    }
	
	@media (min-width:$lg) {
        font-size: $h6fontlg;
    }
}

h7 {
	font-size:$h7fontsm;
    line-height:$headsmfontlineheight;

	@media (min-width:$md) {
        font-size:$h7fontmd;     
    }
	
	@media (min-width:$lg) {
        font-size: $h7fontlg;
    }
}
