/* lists.scss */


ul, ol {
    padding: 0 0 0 1.1rem;
    margin-bottom:$botmargin;
     
    
    font-size:$regfontsm;
    line-height:$regfontlineheight;
    
    @media (min-width: $md) {
        font-size:$regfontmd;
    }
    
    @media (min-width:$lg) {
        font-size:$regfontlg;
    }


	&.has-small-font-size {
        font-size:$smfontsm;
        line-height:$smfontlineheight;

        @media (min-width: $md) {
            font-size: $smfontmd;
        }
        
        @media (min-width:$lg) {
             font-size: $smfontlg;
        }            
	}

    &.has-regular-font-size {
        font-size:$regfontsm;
        line-height:$regfontlineheight;
        
        @media (min-width: $md) {
            font-size:$regfontmd;
        }
        
        @media (min-width:$lg) {
            font-size:$regfontlg;
        }
    }
    
    &.has-medium-font-size {
        font-size: $mdfontsm;
        line-height:$mdfontlineheight;

        @media (min-width: $md) {
            font-size: $mdfontmd;
        }
        
        @media (min-width:$lg) {
            font-size: $mdfontlg;
        }
    }
    
    &.has-large-font-size {
        font-size: $lgfontsm;
        line-height:$lgfontlineheight;
        
        @media (min-width: $md) {
            font-size:$lgfontmd;
        }
        
        @media (min-width:$lg) {
             font-size: $lgfontlg;
        }
    }
    
    &.has-x-large-font-size {
        font-size:$xlfontsm;
        line-height:$xlfontlineheight;
        
        @media (min-width: $md) {
            font-size:$xlfontmd;
        }
        
        @media (min-width:$lg) {
             font-size:$xlfontlg;
        }
    }
    
    
}
ul {
    padding: 0 0 0 1.1rem;
    margin-bottom:1.2rem;
    list-style: disc;    
    
    strong {
        @include sans($weight:600);
    }
    
    &.wp-block-list  li {
        margin-bottom: 12px;
    }
    
    &.is-style-default {
        list-style: disc;
    }
    
    .text-center & {
        list-style-position:inside;
        padding: 0;
    }
    
    &.is-style-list-space {
		li {
			margin-bottom: 30px;
		}
	}
    
    &.is-style-center-list {
        list-style-position:inside;
        padding: 0;
        text-align: center;
        li {
            margin-bottom: 5px;
        }
        
        ::marker {
            margin-right: 3px;
        }
    }
    
    &.is-style-checklist  {
		list-style: none;
		margin-left: 0;

		li {
			margin: 0 0 24px 0;
			position: relative;
			padding-left: 24px;
			
			&:before {
				vertical-align:middle;
				@include webfonts($lineheight:20px);
				content:'\e920';
				color: $green;
				position: absolute;
				top: 6px;
				left: -10px;
			}
		}
        
        &.text-center {
            list-style: none;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
	}
    
    
    &.list-unstyled {
        list-style: none;
    }
    
    &.justify-content-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-position:inside;
        padding: 0;
    }
    
    &.is-style-no-bullets, &.is-style-no-bullets-centered-text {

        list-style: none;
        margin: 0 0 25px 0;
        padding-left: 0 !important;


        li {
            list-style-type:none;
        }

    }

    &.is-style-no-bullets-centered-text {
        text-align: center;

        li {
            line-height: 33px;
        }
    }

    &.tight-spacing {
        li {
            margin-bottom: 0 !important;
        }
    }



}

ol {
    &.wp-block-list  li {
        margin-bottom: 15px;
    }
}
