/* paragraphs.scss */

p {
    
    strong {
        @include sans($weight:600);
    }
    
    &.tight-line-spacing {
        line-height:1.2;
    }
    
	margin-bottom:$botmargin;

    line-height:$regfontlineheight;

    font-size:$regfontsm;
    
    @media (min-width: $md) {
        font-size:$regfontmd;
    }
    
    @media (min-width:$lg) {
        font-size:$regfontlg;
    }


	&.has-small-font-size {
        font-size:$smfontsm;
        line-height:$smfontlineheight;

        @media (min-width: $md) {
            font-size: $smfontmd;
        }
        
        @media (min-width:$lg) {
             font-size: $smfontlg;
        }            
	}

    &.has-regular-font-size {
        font-size:$regfontsm;
        line-height:$regfontlineheight;
        
        @media (min-width: $md) {
            font-size:$regfontmd;
        }
        
        @media (min-width:$lg) {
            font-size:$regfontlg;
        }
    }
    
    &.has-medium-font-size {
        font-size: $mdfontsm;
        line-height:$mdfontlineheight;

        @media (min-width: $md) {
            font-size: $mdfontmd;
        }
        
        @media (min-width:$lg) {
            font-size: $mdfontlg;
        }
    }
    
    &.has-large-font-size {
        font-size: $lgfontsm;
        line-height:$lgfontlineheight;
        
        @media (min-width: $md) {
            font-size:$lgfontmd;
        }
        
        @media (min-width:$lg) {
             font-size: $lgfontlg;
        }
    }
    
    &.has-x-large-font-size {
        font-size:$xlfontsm;
        line-height:$xlfontlineheight;
        
        @media (min-width: $md) {
            font-size:$xlfontmd;
        }
        
        @media (min-width:$lg) {
             font-size:$xlfontlg;
        }
    }
	

	
}
